*{
    margin: 0;
}

html{ 
    background-color: rgba(255, 253, 124, 0.562);
}

.titulo{
    background-color: rgb(158, 0, 0);
    text-align: center;
    border-style: ridge;
    border-color: black;
    margin: auto;
    font-family: Arial black;
    font-weight: bold;
    font-size: 30px;
    color: rgba(243, 243, 243, 0.705);
    /* somb-x | somb-y | desenf-radio | color */
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    text-align: center;
}


ul{
    list-style: none;
}

.java{
    background-color: rgb(115, 255, 60);
    text-align: center;
    border-style: ridge;
    border-color: black;
    margin-left: 40.5%;
    font-family: Arial black;
    font-weight: bold;
    font-size: 25px;
    color: rgba(255, 86, 86, 0.705);
    width: 300px;
}

.imp{
    background-color: rgb(115, 255, 60);
    text-align: center;
    border-style: ridge;
    border-color: black;
    margin-left: 39%;
    font-family: Arial black;
    font-weight: bold;
    font-size: 25px;
    color: rgba(255, 86, 86, 0.705);
    width: 300px;
}

.logo{
    background-color: rgb(115, 255, 60);
    text-align: center;
    border-style: ridge;
    border-color: black;
    margin-left: 39%;
    font-family: Arial black;
    font-weight: bold;
    font-size: 25px;
    color: rgba(255, 86, 86, 0.705);
    width: 300px;
}

.menu li a{
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin: auto;
    font-family: Arial black;
    font-weight: bold;
    font-size: large;
    padding: 17px;
    color: rgba(0, 0, 0, 0.705);
    float: left;
    text-decoration: none;
}

.menu li a:hover{
    background-color: rgb(172, 254, 255);
}

.menu li ul{
    display: none;
    position: absolute;
    min-width: 150px;
}

.menu li:hover > ul{
    display: block;
}

.menu li ul li{
    position: relative;
}

footer img{
    width: 30px;
}

footer{
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.616)255, 255, 255;
}

.secundario{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.img{
    width: 400px;
    padding: 10px 20px 20px;
    display: block;
    margin-left: 35%;
}

.img2{
    width: 400px;
    margin: auto; 
    padding: 10px 20px 20px;
    display: block;
}

.img3{
    width: 400px;
    margin: auto; 
    padding: 10px 20px 20px;
    display: block;
}

img:hover{
    opacity: .5;
    transition: .1s;
}


section{
    background-color: rgb(229, 243, 106);
    width: 97%;
    border: 3px solid rgb(0, 0, 0);
    text-align: justify;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 1%;
    font-weight: bold;
}

p.texto{
    width: 400px;
    /*height: 80;*/
    /*display: block;*/
    margin: auto;
    /*padding: 10px 20px 20px;*/
    /*text-align: center;*/
    text-align: justify;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

