html{
    background: url(https://images-na.ssl-images-amazon.com/images/I/51848OMGGeL.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: none;
}


.contornoC{
    background-color: rgb(255, 223, 81);
    text-align: center;
    border-style: ridge;
    border-color: black;
    margin: auto;
    font-family: Arial black;
    font-weight: bold;
    font-size: 25px;
    color: rgba(248, 85, 73, 0.705);
    /* somb-x | somb-y | desenf-radio | color */
    /*text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;*/
    text-align: center;
    width: 700px;
}

.contornoP1{
    background-color: rgb(203, 126, 255);
    border-style: ridge;
    border-color: rgb(8, 8, 8);
    margin: auto;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.705);
    text-align: center;
    width: 1300px;
    text-align: justify;
    text-align: center;
}

.contornoP2{
    background-color: rgb(86, 255, 86);
    border-style: ridge;
    border-color: rgb(8, 8, 8);
    margin: auto;
    font-size: 25px;
    color: rgba(0, 60, 255, 0.705);
    text-align: center;
    width: 300px;
    text-align: justify;
    text-align: center;
}

body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.barrasa{
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-color: rgb(8, 8, 8);
    margin: auto;
    font-family: Arial black;
    font-weight: bold;
    font-size: large;
	float: left;
    color: rgba(255, 0, 0, 0.705);
    text-decoration: none;
    border-radius: 5%;
}

ul{
    list-style: none;
}

.menu li a{
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-style: ridge;
    border-color: rgb(8, 8, 8);
    margin: auto;
    font-family: Arial black;
    font-weight: bold;
    font-size: large;
    padding: 12px;
	float: right;
    color: rgba(255, 0, 0, 0.705);
    text-decoration: none;
    border-radius: 5%;
}

.menu li a:hover{
    background-color: rgb(184, 255, 157);
}

.menu li ul{
    display: none;
    position: absolute;
    min-width: 150px;
}

.menu li:hover > ul{
    display: block;
}

.menu li ul li{
    position: relative;
}






